profile = janestreet

# customization
dock-collection-brackets=true # put collection brackets on newlines
indicate-multiline-delimiters=closing-on-separate-line # put multiline statement separaters on newline
parens-tuple=always # always put parentheses around tuples
parse-docstrings=true # enable parsing and formatting of docstrings
